<!-- tabs.component.html -->
<mat-toolbar color="primary" class="main-nav">
    <button mat-button (click)="checkFastApiPort()" routerLink="/home" routerLinkActive="active">首頁</button>
    <button mat-button routerLink="/trades" routerLinkActive="active">季中交易</button>
    <button mat-button routerLink="/scores" routerLinkActive="active">比分與賽程</button>
    <button mat-button routerLink="/news" routerLinkActive="active">新聞</button>
    <button mat-button routerLink="/stats" routerLinkActive="active">數據</button>
    <button mat-button routerLink="/records" routerLinkActive="active">戰績</button>
    <button mat-button routerLink="/reviews" routerLinkActive="active">球評</button>
    <button mat-button routerLink="/teams" routerLinkActive="active">球隊</button>
    <button mat-button routerLink="/players" routerLinkActive="active">球員</button>
  </mat-toolbar>